{% extends "base.html" %}

{% block content %}
<a href="{% url 'viewer:airport_search' %}" class="btn btn-outline-primary mt-4">Find airport</a>
<a href="{% url 'viewer:airport_add' %}" class="btn btn-outline-primary mt-4">Add airport</a>
<h2 class="py-4">List of available airports:</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">ICAO</th>
        <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Airport name</th>
    </tr>
  </thead>
  <tbody>
  {% for airport in object_list %}
    <tr>
      <td>{{ airport.ICAO}}</td>
      <td>{{ airport.lat }}</td>
      <td>{{ airport.lon }}</td>
      <td>{{ airport.name }} {%if user.is_superuser%}<a class="btn btn-danger btn-sm float-end" href="{% url "viewer:delete_airport" airport.id %}">Delete</a> {%endif%}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-secondary mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% else %}
            <a class="btn btn-outline-secondary disabled mb-4" href="#">First</a>
            <a class="btn btn-outline-secondary disabled mb-4" href="#">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                <a class="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% else %}
            <a class="btn btn-outline-secondary disabled mb-4" href="#">Next</a>
            <a class="btn btn-outline-secondary disabled mb-4" href="#">Last</a>
        {% endif %}

    {% endif %}
{% endblock %}