{% extends "base.html" %}

{% block content %}
<a href="{% url 'viewer:flight_plan_add' %}" class="btn btn-outline-primary mt-4">Add flight plan</a>
<table class="table table-light table-hover"  style="margin-top: 40px;">
  <thead class="thead-light">
  <tr>
    {% if user.is_superuser %}
  <th colspan="9" style="font-size: large;">List of all flight plans</th>
{% else %}
  <th colspan="9" style="font-size: large;">Your flight plans</th>
{% endif %}

  </tr>
    <tr>
      <th scope="col">ID</th>
      {% if user.is_superuser %}
          <th scope="col">User</th>
      {% endif %}
        <th scope="col">Departure airport</th>
      <th scope="col">Arrival_airport</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
  {% for flight_plan in object_list %}
    {% if flight_plan.user_id == user or user.is_superuser%}
        <tr onclick="window.location='{% url "viewer:flight_plan_waypoint_view" flight_plan.id %}'">
          <th scope="row">{{flight_plan.id}}</th>
          {% if user.is_superuser %}
          <td>{{ flight_plan.user_id}}</td>
          {% endif %}
          <td>{{ flight_plan.departure_apt_id}}</td>

          <td>{{ flight_plan.arrival_apt_id }}</td>
            <td><a class="btn btn-danger btn-sm float-end" href="{% url "viewer:delete_flight_plan" flight_plan.id %}">Delete</a></td>
        </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endblock %}