{% extends "base.html" %}

{% block content %}
<a href="#" class="btn btn-outline-primary mt-4" >Find flight plan</a>
<a href="{% url 'viewer:flight_plan_add' %}" class="btn btn-outline-primary mt-4">Add flight plan</a>
<h2 class="py-4">List of available waypoints:</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">User</th>
        <th scope="col">Departure airport</th>
      <th scope="col">Arrival_airport</th>
      <th scope="col">Aircraft type</th>
      <th scope="col">Waypoints</th>
    </tr>
  </thead>
  <tbody>
  {% for flight_plan in object_list %}
    <tr>
      <td>{{ flight_plan.user_id}}</td>
      <td>{{ flight_plan.departure_apt_id}}</td>

      <td>{{ flight_plan.arrival_apt_id }}</td>
      <td>{{ flight_plan.aircraft_id }}</td>
        <td>{{ flight_plan.waypoints }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-secondary mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% else %}
            <a class="btn btn-outline-secondary disabled mb-4" href="#">First</a>
            <a class="btn btn-outline-secondary disabled mb-4" href="#">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
                <a class="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% else %}
            <a class="btn btn-outline-secondary disabled mb-4" href="#">Next</a>
            <a class="btn btn-outline-secondary disabled mb-4" href="#">Last</a>
        {% endif %}

    {% endif %}
{% endblock %}