{% extends "base.html" %}

{% block content %}
<style>
    div {text-align: center;}
</style>
<table class="table table-light table-hover"  style="margin-top: 40px;">
  <thead class="thead-light">
    <tr>
      {% if object.ICAO %}
      <th scope="col">ICAO</th>
      {% else %}
      <th scope="col">Name</th>
      {% endif %}
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Name</th>
      {% if object.iso_country %}
      <th scope="col">Country code</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    <tr>
      {% if object.ICAO %}
      <td>{{ object.ICAO}}</td>
      {% else %}
      <td>{{ object.name}}</td>
      {% endif %}
      <td>{{ object.lat }}</td>
      <td>{{ object.lon }}</td>
      <td>{{ object.name }}</td>
      {% if object.iso_country %}
      <td>{{ object.iso_country }}</td>
      {% endif %}
    </tr>
  </tbody>
</table>
{{map|safe}}
{% endblock %}