{% extends "base.html" %}

{% block content %}
<h1 class="text-center mt-2 rounded">{{object}}</h1>
<h3 class="text-center mt-2 rounded">Aircraft type: {{object.aircraft_id}} FOB: {{object.fob}} liters FOB range: {{object.fob_range}}</h3>

<table class="table table-light table-hover"  style="margin-top: 40px;">
    <thead>
      <tr>
    <th colspan="9" style="font-size: large;">Waypoints</th>
  </tr>
        <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
        <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Distance</th>
      <th scope="col">Total distance</th>
      <th scope="col">ETE</th>
      <th scope="col">Total time</th>
      <th scope="col">Heading</th>
    </tr>
    </thead>
    <tr>
        <td>{{object.departure_apt_id}}</td>
        <td>Airport</td>
        <td>{{object.departure_apt_id.lat}}</td>
        <td>{{object.departure_apt_id.lon}}</td>
        <td>--------</td>
        <td>--------</td>
        <td>--------</td>
        <td>--------</td>
        <td>--------</td>
    </tr>
{% for waypoint in waypoints_list %}
    <tr>
    <td>{{waypoint.name}}</td>
    <td>Waypoint</td>
    <td>{{waypoint.lat}}</td>
    <td>{{waypoint.lon}}</td>
    <td>{{waypoint.distance|floatformat:"0"}} km</td>
    <td>{{waypoint.total_distance|floatformat:"0"}} km</td>
    <td>{{waypoint.ete}}</td>
    <td>{{waypoint.tte}}</td>
    <td>{{waypoint.hdg}}</td>

        </tr>
{% endfor %}
    <tr>
        <td>{{object.arrival_apt_id}}</td>
        <td>Airport</td>
        <td>{{object.arrival_apt_id.lat}}</td>
        <td>{{object.arrival_apt_id.lon}}</td>
        <td>{{object.arrival_apt_id.distance|floatformat:"0"}} km</td>
        <td>{{object.arrival_apt_id.total_distance|floatformat:"0"}} km</td>
        <td>{{object.arrival_apt_id.ete}}</td>
        <td>{{object.arrival_apt_id.tte}}</td>
        <td>{{object.arrival_apt_id.hdg}}</td>
    </tr>
</table>
{{map|safe}}

<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d581.2859174844592!2d18.59466862922689!3d54.354442180317385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd746404047c49%3A0xe4fbe8c06a77fa40!2sPiecki-Migowo%2C%2080-171%20Gda%C5%84sk!5e0!3m2!1spl!2spl!4v1643464429106!5m2!1spl!2spl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
{% endblock %}